<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .container {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            margin: 0 auto;
            max-width: 600px;
            border-radius: 8px;
        }
        .header {
            background-color: #000000;
            color: #ffffff;
            padding: 10px;
            text-align: center;
            font-size: 20px;
            border-radius: 8px;
        }
        .content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">Bienvenue chez nous!</div>
    <div class="content">
        <p>Bonjour {{ firstName }},</p>
        <p>Nous sommes ravis de vous compter parmi nos clients ! Vous avez franchi le premier pas vers une expérience de coiffure exceptionnelle.</p>
        <p>Avec notre application, prendre rendez-vous n'a jamais été aussi simple. Explorez nos services, trouvez votre coiffeur idéal et réservez votre premier rendez-vous dès aujourd'hui.</p>
        <p>Si vous avez besoin d'aide pour naviguer dans l'application ou si vous avez des questions, notre équipe de support est toujours là pour vous aider.</p>
        <p>Merci de nous avoir choisis. Nous avons hâte de vous accueillir dans notre salon.</p>
        <p>Cordialement,</p>
        <p>L'équipe de Barbers</p>
    </div>
</div>
</body>
</html>
